li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 10px;
    padding: 10px;
    border: 2px solid #349a1b;
    border-radius: 5px;
    background-color: #ffffff;
    list-style-type: none;
    height: 75px;
    width: 300px;
}